{% extends "base.html" %}
{% block content %}
<h2>Vítej, {{current_user.email}}, id: {{current_user.id}}</h2>
<h3> Nastavení a statistiky týkající se aplikace Slovník</h3>
Počet slovíček: {{pocet_slovicek}}
<br>
<a href="{{url_for("slovnik_views.prejmenovat_kategorii")}}">Přejmenovat kategorii</a>
<form method="post">
    <p>
        /ještě nefunguje/
        Při vybírání ze čtyř překladů při učení použít 
        <input type="radio" name="uceni_choose" value="dropdown" id="1"/>
        <label for="1">Dropdown možností</label>

        <input type="radio" name="uceni_choose" value="four_buttons" id="2"/>
        <label for="2">Čtyři tlačítka</label>
    
        <button type="submit" name="vybirani" value="1">Vybrat</button>
    </p>
    <p>
        /ještě nefunguje/
        Při zkoušení opakovat slovíčko, dokud nebude napsáno správně: {{settings.data["zkouseni_opakovani"]}}
        <button type="submit" name="zkouseni_opakovani" value="1">Změnit</button>
    </p>
    <p>
        Jazyky: <b>{{settings.pretty_jazyky()}}</b>
        <br>
        Příklad: <code>čeština</code>, <code>English</code>, <code>Javascript</code>, <code>latina</code>.
        <br>
        Přidat jazyk:
        <input type="text" name="new_jazyk"/>
        <button type="submit" name="new_jazyk_button" value="1">Budiž</button>
    </p>
</form>
<br>
<a href="{{url_for("slovnik_views.natahnout_od_pipa")}}">Natáhnout kus slovníku od Pípa</a>
<br>
<h3> Nastavení týkající se ostatních aplikací </h3>
nejsou
{% endblock %}