{%extends "base.html"%}
{%block content%}

<form method="post">
	<h2> Přihlaš se </h2>
	<div class="container">
		<div class="row my-1">
			<div class="col-2">
				Email
			</div>
			<div class="col-3">
				<input type="text" name="email" id="email" maxlength="100" class="form-control"/>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-2">
				Heslo
			</div>
			<div class="col-3">
				<input type="password" name="password" id="password" maxlength="300" class="form-control"/>	
			</div>
		</div>
		<div class="row my-1">
			<div class="col-2">
				<button type="submit" class="btn btn-primary">Log-in</button>
			</div>
			<div class="col-3">
				<small>
					Zapoměli jste heslo? <a href="{{url_for('auth_views.request_reset')}}">Požádat o nové</a>
				</small>
			</div>
		</div>
	</div>
</form>
{%endblock%}