{%extends "base.html"%}
{%block content%}

<form method="post" id="form">
	<h2>Zadej nové heslo:</h2>
	<div class="container">
		<div class="row my-1">
			<div class="col-3">
				Nové heslo:
			</div>
			<div class="col">
				<input type="password" name="password" id="password" class="form-control"/>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-3">
				Heslo pro kontrolu:
			</div>
			<div class="col">
				<input type="password" name="password_confirm" id="password_confirm" class="form-control"/>
			</div>
		</div>
	</div>
	<button type="button" id="btn" class="btn btn-primary">Změnit</button>
</form>
<script type="module" src="{{url_for('static',filename='js/reset_password_validation.js')}}"></script>
{%endblock%}