{% extends "index.html" %}
{% block nav %}
    <li class="nav-item"><a class="nav-link active" href="{{url_for("default_views.dashboard")}}">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("slovnik_views.slovnik_home")}}">Slovník </a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.rybicky")}}">Rybičky</a></li>
    <li class="nav-item dropdown">
    <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Matematika</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.popis_primky")}}">Způsoby popisu přímky</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.trig")}}">Jak přemýšlet o goniometrických funkcích</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.nacrty")}}">Náčrty</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.frekvence")}}">Frekvence</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.hadej_slova")}}">Hádej slova</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.cernabila")}}">Černá bílá</a></li>

    <li class="nav-item"><a class="nav-link active" href="{{url_for("visuals_views.catan")}}">Katan</a></li> 
    <li class="nav-item"><a class="nav-link active" href="https://piipecek.github.io/tomio.html">Tomiem Ipsum</a></li>
    <li class="nav-item dropdown">
    <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Matlab-tools</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item"><a class="nav-link active" href="{{url_for('visuals_views.matlab')}}">Matlab</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{url_for('visuals_views.tabulky')}}">Tabulky</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for('default_views.mutace')}}">Jazykové mutace</a></li>    
    <li class="nav-item"><a class="nav-link active" href="{{url_for('visuals_views.semihra')}}">Semihra</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for('richard_views.get_sunturtle')}}">Sunturtle</a></li> 
    {% if current_user.is_authenticated %}
    <li class="nav-item"><a class="nav-link active" href="{{url_for("default_views.account")}}">Účet</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("auth_views.logout")}}">Logout</a></li>
    {% if admin %}
    <li  class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.admin_dashboard')}}">Admin sekce</a></li>
    {% endif %}
    {% else %}
    <li class="nav-item"><a class="nav-link active" href="{{url_for("auth_views.login")}}">Login</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_for("auth_views.register")}}">Register</a></li>
    {% endif %}
{% endblock %}


{% block footer %}
<footer class="row my-2">
    <div class="col-auto">
        <a class="btn btn-outline-primary" role="button" href="https://github.com/piipecek/piipovo_stranky" target="_blank">Repo se zdrojovým kódem na githubu (otevře novou kartu)</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" role="button" href="{{url_for("default_views.planovane_featury")}}">Plánované featury</a>
    </div> 
    <div class="col-auto">
        <a class="btn btn-outline-primary" role="button" href="{{url_for("default_views.known_bugs")}}">seznam známých bugů</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" role="button" href="{{url_for("default_views.nahlasit_bug")}}">Nahlásit bug, připomínku, nápad</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" role="button" href="{{url_for("default_views.historie")}}">Historie verzí</a>
    </div>
</footer>
{% endblock %}