{%extends "base.html"%}
{%block content%}
<h1>Pípovo stránky</h1>
<p>
    Jsou projekt, kam dávam různý vymoženosti, co vytvářim. Hlavním bodem je nyní aplikace Slovník, nebo právě-se-tvořící rybičky.
</p>
<h2>Novinky</h2>
<p>
    <h3>6. 11. a Support pro víc cizích jazyků ve slovníku</h3>
    Velkej update přináší možnost přidat nový jazyk, ve kterém se poté přidávají slovíčka. Stačí ho přidat v nastavení účtu :)
</p>
<p>
    <h3>5. 11. a Rybičky!</h3>
    Chvíli to trvalo, ale s touhle verzí rybiček jsem fakt spoko.
</p>
<p>
    <h3>25. 10. a začátek Rybiček</h3>
    K dnešnímu datu se hodně věcí mění: Většina stránek už není chráněna loginem. Login je efekrivně potřeba jen k využívání slovníku, protože každý user má svůj. Dále přibyl odkaz na Rybičky, které mají první fázi vývoje za sebou.
</p>
<p>
    <h3>16. 10. a velká změna v rychlosti slovníku</h3>
    Při hledání duplikátů se muselo při velikosti slovníku 1800 slovíček (pípův slovník) čekat i 10 vteřin. Tento proces byl napsán chytřeji a je to nyní mnohem rychlejší.
</p>
<p>
    <h3>15. 10. a bugfix</h3>
    Historii zkoušení se nelíbilo, když jste smazali slovíčko a chtěli se nechat vyzkoušet ze setu, kde původně bylo. To je nyní opravené.
</p>
<p>
    <h3>14. 10. a lepší tahání slovíček od Pípa</h3>
    <ul>
        <li>Byl opraven bug, kdy natahávání slovíček z Pípova slovníku mohlo ve vašem osobním vytvořit duplicitní ID.</li>
        <li>Při zadávání "kolik" slovíček zahrnout do setu je nyní povoleno jen číslo jako input.</li>
        <li>Tvoření setu podle nejméně zkoušenýchu už teď opravdu vybírá z nejméně zkoušených.</li>
        <li>Opraven bug, kdy zkoušení podle charakteristické skupiny fungovalo jen v němčině.</li>
        <li>Opraven bug, kdy zkoušení podle charakteristické skupiny fungovalo jen v němčině.</li>
        <li>Z detailu historie zkoušení se nyní dá prokliknout na konkrétní slovíčko a upravit ho.</li>
    </ul>
</p>
<p>
    <h3>13. 10. a progress ukazatel při zkoušení</h3>
    Při zkoušení je nyní vidět, na kolikátém slovíčku z kolika se nacházíte. Podobná featura pro učení je ale mnohem složitější a bude přidána až naprší a uschne.
</p>
<p>
    <h3>12. 10. a hledání duplicitních slovíček</h3>
    ve slovníku je tlačítko "najít duplicitní slovíčka", které teď dělá to, co má. Snad, moc jsem toho nevyzkoušel.
</p>
<p>
    <h3>11. 10. a backend update</h3>
    Byla vydána verze, která přidala Typehinting v kódu, upravila další nejasnosti a zajistila, že i zkoušení mají svoje unique ID.
</p>
<p>
    <h3>8. 10. a přidávání maličkostí</h3>
    <ul>
        <li>Při opakování zkoušení z historie byla slovíčka ve stejném pořadí, jako v originálním zkoušení. To bylo změněno, nyní budou před přezkoušením promíchána.</li>
    </ul>
</p>
<p>
    <h3>7. 10. a  update vzhledu tabulky Slovníku</h3>
    Díky nezávislému vývojáři Troloběžce máme možnost ukázat překrásnou tabulku slovíček na slovníku. Díky moc!
</p>
<p>
    <h3>7. 10. a update, který user vůbec nevidí</h3>
    Dnes vyšel Minecraft 1.18 snapshot 21w40a a taky update ke slovníku. Každo slovíčko má teď unique ID, narozdíl od předchozích verzí, kdy tuto funkci zastával čas vytvoření. 
    Také přibyly počátky očekávané feauty, tedy možnost vybrat více slovíček ve Slovníku naráz a něco s nimi udělat. Zatím to ale není v provozu.
</p>
<p>
    <h3>4. 10. Přibyly další věci:</h3>
    <ul>
        <li> <b>Možnost natáhnout slovíčka z Pípova slovníku.</b> Píp, autor této aplikace, má slovník o cca 1800 slovíčkách, kde přibližně půlka je z hodin němčiny na střední a ta druhá je z knížky Deutsch im Maschinenbau. Tyto slovíčka má docela slušně roztřízené do kategorií a ty si teď můžeš ze Slovníku nebo ze stránky svého účtu nějaké z těch kategorií vybrat a uložit k sobě do slovníku.</li>
        <li> <b>Možnost výběru setu podle nejméně učených slovíček.</b></li>
    </ul>
</p>
<p>
    <h3>3. 10. bylo přidáno hodně vlastností, které ulehčí život ve slovníku:</h3>
    <ul>
        <li> <b>Retake učení.</b>Po dokončení učení setu je možné podstoupit stejné učení znovu. Pokud vám to teda hodně nešlo.</li>
        <li> <b>Vyzkoušet se z naučeného setu</b> Pokud se ale učení dařilo, byla také přidána možnost se z již vytvořeného setu nechat vyzkoušet.</li>
        <li> <b>Obrácené pořadí při zadávání slovíček do slovníku</b> Pokud jste v půlce psaní slovíček do slovníku zjistili, že je píšete špatně (tj. nejdřív překlad a za pomlčkou definici), nemusíte to přepisovat. Stačí pod textovým oknem přiznat, že jste hloupí, a aplikace už si to přebere sama. Uloží vám slovíčka správně, tedy česká definice bude (výjimečně) ta část za pomlčkou.</li>
        <li> <b>Opraven bug,</b> kdy při chybně zadaných slovíčkách by se do databáze uložila všechna slovíčka až do chybného řádku. Teď se nevloží žádná a uživatel je vyzván k opravení inputu.</li>
        <li> <b>Opraveny některé pravopisné chyby a překlepy.</b></li>
        <li> <b>Účet</b> je nová položka v navbaru, ale ještě tam nic nefunguje. Příště!</li>
    </ul>
</p>
<p>
    <h3>26. 9. 2021 byl založen účet na Python anywhere.</h3>
</p>
{%endblock%}