{% extends "base.html" %}
{% block content %}
    <h2>editing id = {{ word.id }}</h2>
    <form method="post">
    {% for jazyk in jazyky %}
    <p>
        <label for="{{jazyk}}">{{jazyk}}: </label>
        <input id="{{jazyk}}" type="text" name="{{jazyk}}" value="{{ word.pretty(jazyk) }}"/>
    </p>
    {% endfor %}
    <div>
        <label for="druh">slovní druh:</label>
        <input id="druh" type="text" name="druh" value="{{ word.pretty("druh") }}">
    </div>
    <div>
        <label for="asociace">asociace:</label>
        <input id="asociace" type="text" name="asociace" value="{{ word.pretty("asociace") }}">
    </div>
    <div>
        <label for="kategorie">kategorie</label>
        <input id="kategorie" type="text" name="kategorie" value="{{ word.pretty("kategorie") }}">
    </div>
    <div>
        <button type="submit" value="potvrdit" name="potvrdit">Potvrdit</button>
        <button type="submit" value="delete" name="delete">Smazat slovíčko</button>
    </div>

    </form>
{% endblock %}