{% extends "base.html" %}

{% block content %}


<div name="úvod">
    <h2>Hádej slova</h2>
    Algorytmus pro řešení hry <a target="_blank" href="https://hadejslova.cz">Hádej slova</a>. Databázi 5písmenných slov jsem vytvořil z <a target="_blank" href="https://scrabble.hrejsi.cz/pravidla/blex.htm">této stránky</a> a četnosti písmen mám <a href="http://www.mensa.cz/volny-cas/hlavolamy/detska-sifrovaci-liga/frekvencni-tabulka-pismen" target="_blank">odtud</a>. Zadávání odezvy hry je poněkud kostrbaté, ale zatím to tak nechám. Výsledek se zadává formou pěti číslic:
    <ul>
        <li>Použij <code>0</code>, když písmenko ve výsledku není obsaženo.</li>
        <li>Použij <code>1</code>, pokud je písmenko ve výsledku obsaženo, ale na jiném místě.</li>
        <li>Použij <code>2</code>, pokud je písmenko správně.</li>
    </ul>
    Slovo 
    <h2 style="display: inline; color: green;">M</h2>
    <h2 style="display: inline; color: gray;">E</h2>
    <h2 style="display: inline; color: orange;">T</h2>
    <h2 style="display: inline; color: gray;">R</h2>
    <h2 style="display: inline; color: gray;">0</h2>
    by tedy bylo převedeno na 20100.
    <br>
    <br>
    Aplikace nabízí hned několik slov, která jsou dobrým dalším tipem. Je to proto, že výše zmíněná databáze obsahuje hromadu divnejch slov, který Hádejslovo slovník nezná. Když se vám to stane, prostě vyberte další z těch nabídnutých. Snad se nestane, že všech 10 slov bude divných.
    <h2>Způsob použití:</h2>
    <ul>
        <li>Vyberte jedno ze slov, které apliace radí jako další slovo a zadejte ho do Hádejslova stránky.</li>
        <li>Pokud vám stránka řekne, že slovo nezná, vyberte jiné z nabídnutých</li>
        <li>Pokud stránka slovo pozná, napište ho sem do prvního políčka</li> 
        <li>Do druhého patří číselný kód ohodnocení, který je popsán výše</li>
        <li>Najít další slovo!</li>
    </ul>
</div>
<div id="content">

</div>

<script type="module" src="../static/js/hadej_slova.js"></script>

{% endblock %}