{% extends "base.html" %}

{% block content %}

<h2 id="nadpis"></h2>

<button class="btn btn-info" id="cs">CS</button>
<button class="btn btn-info" id="en">EN</button>

<p id="myslenka_o_multilang"></p>
<p>Tady je text, kterej nemá překlad, je natvrdo napsanej v html. Následující dva textíky jsou demonstrace chování, když překald chybí. Maj vysvětlující hover text.</p>
<p title= "Tady se stalo, že js loopoval přes příchozí záznamy ze serveru a nenašel tam id tohohle p-tagu." id="name_neprislo"></p>
<p title="Tady se stalo, že python nenašel překad pro tenhle jazyk." id="nenasel_jazyk"></p>


<h2>Vytváření multilang.json souboru</h2>
Vyberte soubor, který budete upravovat. Pokud chcete založit nový, musíte dodržet následující strukturu:
<code><pre>
    [
        {
            "name": "",
            "location": "",
            "translations": {
                "cs": "",
                "en": ""
            }
        },
        {
            "name": "",
            "location": "",
            "translations": {
                "cs": "",
                "en": ""
            }
        }
    ]
</pre></code>
<input class="form-control my-2" type="file" id="formFile", accept=".json">
<div id="content"></div>
<button class="btn btn-primary" type="button" id="pridat" hidden>Přidat záznam</button>
<button class="btn btn-success" type="button" id="generate" hidden>Vygenerovat json</button>
<div id="names_to_translate">
    Protože neumim stahovat dva soubory naráz, tak tuhle pomůcku házim sem. Můžeš kopírovat <code>names_to_translate</code> přímo do js souborů.
    <code><pre id="names_to_translate_content"></pre></code>
</div>




<script type="module" src="{{url_for('static', filename='js/js.cookie.mjs')}}"></script>
<script type="module" src="{{url_for('static', filename='js/httpGet.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/jazykova_mutace.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/uprava_multilang.json.js')}}"></script>
{% endblock %}