{% extends "base.html" %}
{% block content %}
<h2>
    Plánované featury
</h2>


<ul>
    <li>Možnost označit slovíčko a zkoušet z označených</li>
    <li>Admin sekce a pridavani atributu slovickum</li>
    <li>admin usery co budou moct upravovat zpravy na bug trackeru</li>
    <li>Možnost jednoduše vybrat více slovíček ze Slovníku a něco s nima udělat (třeba smazat)</li>
    <li>Při vybírání z možností u učení mít odpovědi na samostatných tlačítkách</li>
    <li>Nějaký basic ověřování username a hesla při registrace (aby nešlo username  "a" heslo "a")</li>
    <li>Přidání < title > vsude</li>
    <li>Při vybírání dat ke zkoušení tam mít klikací kalendář a v něm vidět dny, kdy bylo něco přidáno</li>
    <li>Možnost přejmenovat kategorii (změní se u slovíček co do ní patří) a odstranit kategorii (odebrat ji od slovíček co jí maj)</li>
    <li>Možnost volby oddělovacího znaku (defaultně -)</li>
    <li>Predelat singles</li>
    <li>Při učení psát progress - kolikátá sada)</li>
    <li>Při zkoušení z kategorií přidat dodateřný "kolik" políčko</li>
    <li>Nějak zkouset i druhej preklad slovicka</li>
</ul>
{% endblock %}