{% extends "base.html" %}
{% block content %}
<h2>
    Plánované featury
</h2>


<ul>
    <li>Možnost retakenout učení</li>
    <li>Možnost nechat se vyzkoušet z právě dokončeného učení</li>
    <li>Možnost jednoduše vybrat více slovíček ze Slovníku a něco s nima udělat (třeba smazat)</li>
    <li>Při vybírání z možností u učení mít odpovědi na samostatných tlačítkách</li>
    <li>Udělat to tu trochu hezčí</li>
    <li>Při vybírání kategorií (v editu slovíčka nebo při přidávání slovíček) udělat dropdown</li>
    <li>Slovník tabulka je hnusně naformátovaná</li>
</ul>
{% endblock %}