{% extends "base.html" %}
{% block content %}
<h2>
    Plánované featury
</h2>


<ul>
    <li>Možnost jednoduše vybrat více slovíček ze Slovníku a něco s nima udělat (třeba smazat)</li>
    <li>Při vybírání z možností u učení mít odpovědi na samostatných tlačítkách</li>
    <li>Udělat to tu trochu hezčí</li>
    <li>Při vybírání kategorií (v editu slovíčka nebo při přidávání slovíček) udělat dropdown</li>
    <li>Slovník tabulka je hnusně naformátovaná</li>
    <li>Nějaký basic ověřování username a hesla při registrace (aby nešlo username  "a" heslo "a")</li>
    <li>Přidání < title > vsude</li>
    <li>Při vybírání dat ke zkoušení tam mít klikací kalendář a v něm vidět dny, kdy bylo něco přidáno</li>
    <li>Set podle nejmene ucenych</li>
    <li>Možnost přejmenovat kategorii (změní se u slovíček co do ní patří) a odstranit kategorii (odebrat ji od slovíček co jí maj)</li>
    <li>Nějaké celkové statistiky slovníku</li>
    <li>Typehinting v programu</li>
    <li> Při zadávání "kolik" slovíček povolit jen číslo jako input
</ul>
{% endblock %}