<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUN TURTLE Kalkulátor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='sunturtle.css')}}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <!-- Turte image -->
            <a class="navbar-brand" href="#"><img src="https://cdn-icons-png.flaticon.com/512/882/882951.png">SUN
                TURTLE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Menu buttons -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Úvod</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Náš tým</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Kalkulačka</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main page container -->
    <div class="container mt-3 mb-3">

        <h2>Kalkulačka výnosnosti solárních panelů</h2>

        <h3>Úvodní informace</h3>
        <p class="text-start">Díky naší jednoduché <strong>online kalkulačce</strong> snadno zjistíte přibližnou
            výnosnost solárních panelů pro váš panelový dům.</p>

        <!-- Form for inputing data for calculations -->
        <h4>Kalkulačka</h4>
        <form id="calculator" class="mb-3">

            <!-- Address input -->
            <div class="mb-3">
                <label for="input-address" class="form-label">Adresa Vašeho panelového domu</label>
                <input type="text" class="form-control" id="input-address" aria-describedby="address-help" required>
                <div id="address-invalid" class="invalid-feedback">Adresa neexistuje!</div>
                <div id="address-help address-invalid" class="form-text">Vaši adresu si nikde neukládáme.</div>
            </div>

            <!-- Area input -->
            <div class="mb-3">
                <label for="input-area" class="form-label">Výměra pozemku (m<sup>2</sup>)</label>
                <input type="number" class="form-control" id="input-area" required>
            </div>

            <!-- Submit button which runs a JS function -->
            <button id="main-submit-button" type="submit" class="btn btn-primary">
                <span id="main-submit-spinner" class="spinner-border spinner-border-sm absoff" role="status"
                    aria-hidden="true"></span>Submit
            </button>
        </form>

        <!-- Container for accordions -->
        <div class="accordion mb-3" id="accordionExample">

            <!-- First accordion for displaying calculations results -->
            <div id="accord-1" class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button id="show-result-button" class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        Výsledek kalkulace
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <div><strong>Hodnocení lokality:</strong> <span id="location-rating">-</span></div>
                        <div><strong>Celková cena projektu:</strong> <span id="total-price">-</span> Kč</div>
                        <div><strong>Délka instalace:</strong> <span id="work-days">-</span> dny/ů</div>
                        <div><strong>Návratnost:</strong> <span id="return-years">-</span> let</div>
                        <div><strong>Životnost solárních panelů:</strong> <span id="service-life">-</span> let</div>
                    </div>
                </div>
            </div>

            <!-- Second accordion for displaying projects -->
            <div id="accord-2" class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button id="show-projects-button" class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Podobné projekty
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">

                        <!-- Template card for copying by JS -->
                        <div id="temp-card" class="card mt-3 absoff">
                            <div class="card-body">
                                <h5 class="card-title"><span data-var="location">-</span></h5>
                                <p class="card-text">
                                <div><strong>Instalovaný výkon:</strong> <span data-var="power">-</span></div>
                                <div><strong>Doba realizace:</strong> <span data-var="year">-</span></div>
                                </p>
                            </div>
                        </div>

                        <!-- Container for cards with project info -->
                        <div id="card-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/sunturtle.js')}}"></script>
</body>

</html>