{% extends "base.html" %}
{% block content %}
    <h2> Úprava slovíček, co maj jen jeden záznam mezi všemi jazyky</h2>
    {% if singles == None %}
        Žádné slovíčko není single!
    {% else %}
        <div class="container">
        {% for word in singles %}
            <div class="row">
                <div class="col-md-1 w1"> {{ word }}</div>
                <div class="col-md-1 w1">
                    <form method="post">
                        <button type="submit" name="edit" value="{{ word.id }}">Upravit</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}