{% extends "base.html" %}
{% block content %}
    <h2>Aplikace Slovník. přečti si, <a href="{{url_for("slovnik_views.about")}}">jak to funguje</a>.</h2>

    <a href="https://slovniky.lingea.cz/nemecko-cesky" target="_blank">D-CZ Lingea slovník</a>

    <hr>
    
    <a href="{{ url_for("slovnik_views.pridej_cjx", jazyk="german") }}">Přidat ČJ/D slovíčka</a>
    <br>
    <a href="{{ url_for("slovnik_views.pridej_cjx", jazyk="english") }}">Přidat ČJ/EN slovíčka</a>

    <hr>

    <a href="{{ url_for("slovnik_views.slovnik") }}">Slovník</a>

    <hr>

    <a href="{{ url_for("slovnik_views.tvoreni_setu_podle", jazyk="german") }}">Zkoušení/učení německejch slovíček</a>
    <br>
    <a href="{{ url_for("slovnik_views.tvoreni_setu_podle", jazyk="english") }}">Zkoušení/učení anglickejch slovíček</a>

    <hr>

    <a href="{{ url_for("slovnik_views.historie_zkouseni") }}">Historie Zkoušení</a>
{% endblock %}