{% extends "slovnik_base.html" %}
{% block content %}
    <h2>Overview</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-1 w1">{{ base_jazyk }}</div>
            <div class="col-md-1 w1">{{ target_jazyk }}</div>
        </div>
        <hr>
        {% for word in setik %}
            <div class="row">
                <div class="col-md-1 w1">{{ word.pretty(base_jazyk) }}</div>
                <div class="col-md-1 w1">{{ word.pretty(target_jazyk) }}</div>
            </div>
        {% endfor %}
    </div>
    <form method="post">
    <button type="submit" name="zkouseni" value="zkouseni">Začít zkoušení</button>
    <button type="submit" name="uceni" value="uceni">Začít učení</button>
    </form>
{% endblock %}