{% extends "slovnik_base.html" %}
{% block content %}
    <h2>Přidat slovíčka - nový design</h2>

    V jakých jazycích budete slovíčka přidávat?
    <button type="button" id="new_jazyk_dropdown" class="btn btn-outline-primary">Přidat další dropdown jazyků</button>
    <input type="text" id="jazyky" hidden value="{{jazyky}}">
    <div id="jazyky_dropdowns"></div>
    <button type="button" id="potvrdit_jazyky" class="btn btn-outline-success">Potvrdit jazyky</button>

    
    <form method="post">
        <input hidden id="result" name="result"/>
    </form>
    <script type="module" src="{{url_for("static", filename="js/slovnik/pridavani_slovicek_new.js")}}"></script>
{% endblock %}