{% extends "base.html" %}
{% block content %}
slovíčko {{index + 1}} z {{celkem}}
    <form method="post" autocomplete="off">
        <div class="container">
            <div class="row">
                <div class="col-md-1">česky</div>
                <div class="col-md-1">{{jazyk}}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">{{ word.pretty("czech") }}</div>
                <div class="col-md-1">
                    <input type="text" name="pokus" autofocus autocomplete="off"/>
                </div>
            </div>
        </div>
        <button type="submit" name = "next" value="next">Další</button>
        <button type="submit" name = "odevzdat" value="odevzdat">Odevzdat teď</button>
    </form>
{% endblock %}