.datecolumn {
    width: auto;
}

.container {
    margin: 20px;
}
hr {
    margin: 5px;
}

.alert-info {
    background-color: burlywood;
}
.alert-error  {
    background-color: red;
}
.alert-correct {
    background-color: limegreen;
}

.col-md-1 {
    width: 130px;
}
.w1 {
    width: 220px;
}
.w2 {
    width: 1500px;
}
body {
    background-color: whitesmoke ;
    margin-left: 20px;
}
canvas {
    background-color: white;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
    
.sidenav a:hover {
color: #f1f1f1;
}

#main {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 50px;
}